In [ ]:
# open mysql connection

In [1]:
import pymysql
import pandas as pd

In [2]:
conn = pymysql.connect(host='localhost', user='root', password='root', db='partsio-schema', charset='utf8mb4')

df = pd.read_sql_query("select * from score_ref", conn)

In [3]:
df

    id  difference  ratio1  ratio2  ratio3  ratio4  ratio5  ratio6
0    1        0.00    1.00    1.00    1.00     1.0    1.00    1.00
1    2        0.05    1.00    0.95    1.00     0.8    1.00    1.00
2    3        0.10    1.00    0.90    1.00     0.7    1.00    1.00
3    4        0.15    1.00    0.85    1.00     0.6    1.00    1.00
4    5        0.20    0.75    0.80    1.00     0.4    0.75    0.75
5    6        0.25    0.75    0.75    1.00     0.3    0.75    0.75
6    7        0.30    0.75    0.70    1.00     0.2    0.75    0.75
7    8        0.35    0.50    0.65    0.75     0.1    0.50    0.50
8    9        0.40    0.50    0.60    0.75     0.0    0.50    0.50
9   10        0.45    0.50    0.55    0.75     0.0    0.50    0.50
10  11        0.50    0.00    0.50    0.75     0.0    0.00    0.00
11  12        0.55    0.00    0.45    0.75     0.0    0.00    0.00
12  13        0.60    0.00    0.40    0.50     0.0    0.00    0.00
13  14        0.65    0.00    0.35    0.50     0.0    0.00    0.00
14  15        0.70    0.00    0.30    0.50     0.0    0.00    0.00
15  16        0.75    0.00    0.25    0.50     0.0    0.00    0.00
16  17        0.80    0.00    0.20    0.25     0.0    0.00    0.00
17  18        0.85    0.00    0.15    0.25     0.0    0.00    0.00
18  19        0.90    0.00    0.10    0.25     0.0    0.00    0.00
19  20        0.95    0.00    0.05    0.25     0.0    0.00    0.00
20  21        1.00    0.00    0.00    0.25     0.0    0.00    0.00
21  22       10.00    0.00    0.00    0.00     0.0    0.00    0.00
22  23     1000.00    0.00    0.00    0.00     0.0    0.00    0.00

In [4]:
conn.close()